<div class="row"> <!-- site navigation -->
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><%= link_to "All", user_cloud_accounts_path %></li>
			<% if @cloud_file %>
			  <li><%= link_to @cloud_file.provider, [current_user, @cloud_file.cloud_account] %></li>
			  <% levels = @cloud_file.path.split('/') %>
			  <% path = "/" %>
			  <% levels.each_with_index do |item, index| %>
				<% next if item.blank? %>
				<% if index == levels.size - 1 %>
				  <li><%= item %></li>
				<% else %>
				  <% path = File.join(path, item) %>
				  <li><%= link_to item, [current_user, @cloud_file.cloud_account, file_path: path] %></li>
	            <% end %>
	          <% end %>
			<% end %>
		</ol>
	</div>
</div>

<div class="row"< <!-- file operations with session -->
  <%= ongoing_operation %>
</div>

<div class="row"> <!-- main area -->
	<div class="col-md-2"> <!-- filetype verticaltab -->
	  <% tags = %w(all file picture music film) %>
	  <ul class="nav nav-pills nav-stacked">
		<% tags.each do |tag| %>
		  <%= content_tag :li do %>
			<%= link_to '#' do %>
			  <span class="glyphicon glyphicon-<%= tag %>"></span>
			  <%= tag.capitalize %>
			<% end %>
		  <% end %>
		<% end %>
	  </ul>
	</div>

	<div class="col-md-6"> <!-- csp tabs + files -->
		<div class="row">
			<div class="col-md-8">
			  <%= content_tag :ul, class: "nav nav-pills" do -%> <!-- tabs -->
				<li><%= link_to "New",   current_user %></li>
				<%= content_tag :li do -%>
				  <%= link_to "All", cloud_accounts_path %>
				<% end %>
				<% current_user.cloud_accounts.each do |cloud_account| %>
				  <%= content_tag :li do -%>
					<%= link_to cloud_account.provider.capitalize, [current_user, cloud_account] %>
				  <% end %>
				<% end %>
			  <% end %>
			</div>

			<div class="col-md-4"><!-- Dashboard CSP + Folder actions -->
				<div class="cloud-ops btn-group">
				<% if @cloud_file && @cloud_file.is_dir %>
				  <%= link_to(upload_user_cloud_account_url(current_user, @cloud_file.cloud_account, params_for(@cloud_file))) do %>
					<span class="glyphicon glyphicon-cloud-upload"></span>
					Upload!
				  <% end %>
				  <%= link_to(create_folder_user_cloud_account_url(current_user, @cloud_file.cloud_account, params_for(@cloud_file))) do %>
					<span class="glyphicon glyphicon-folder-open"></span>
					New Folder
				  <% end %>
				<% end %>
				</div>
			</div>
		</div>

		<div> <!-- file explorer -->
		<% if !@cloud_files && !@cloud_file %>
		  <%= render "dashboard/new_dashboard" %>
		<% else %>
		  <%= render "dashboard/cloud_file_explorer" %>
		<% end %>
		</div>
	</div>

	<div class="col-md-4"> <!-- current file information -->
	  <% if @cloud_file %>
		<% if @cloud_file.is_embeddable? %>
			<div class="file-media">
			  <%= build_tag(@cloud_file) %>
			</div>
		<% end %>

		<div class="file-info">
		  <%= render @cloud_file %>
		</div>
	  <% end %>
	</div>
</div>


