<h1>Listing Cloud API</h1>

<div><!-- This is going to be the main content -->
	<table>
		<tr>
		  <th>Name</th>
		  <th>Authentification uri</th>
		  <th>Authentification credential</th>
		  <th>Base uri</th>
		  <th>File path</th>
		  <th>Folder path</th>
		  <th></th>
		  <th></th>
		</tr>
		
		<% @cloud_apis.each do |csp| %>
			<tr>
				<td><%= csp.name %></td>
				<td><%= csp.auth_uri %></td>
				<td><%= csp.auth_credential %></td>
				<td><%= csp.base_uri %></td>
				<td><%= csp.file_path %></td>
				<td><%= csp.folder_path %></td>	
				<span><!-- navigation links for CRUD actions -->
					<td><%= link_to 'Show', csp %></td>
					<td><%= link_to 'Edit', edit_cloud_api_path(csp) %></td>
					<td><%= link_to 'Destroy', cloud_api_path(csp), 
					method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</span>	
			</tr>
		<% end %>
	</table>
</div>
<div><!-- navigation links --> 
	<%= link_to 'Add New CSP', new_cloud_api_path %>
</div>
