<!-- cloud file partial -->
<%= debug cloud_file %>
<div class="cloud-file thumbnail">
  <ul class="list-unstyled" >
  <% cache cloud_file do %>
    <li><%= image_tag cloud_file.thumbnail, class: "img-responsive img-thumbnail" %></li>
  <% end %>
    <li><%= link_to cloud_file.name, [current_user, cloud_file.cloud_account, params_for(cloud_file)] %></li>
	<% unless cloud_file.is_dir %>
	  <li><%= number_to_human_size(cloud_file.size) %> - <%= cloud_file.filetype %></li>
  <% end %>
    <li>
		<div class="">
			<div class="">
				<div class="btn-group btn-group-xs">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						<span class="button-label">Actions</span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
					  <% cloud_file.file_actions.each do |action, icon| %>
						<li>
						  <%= link_to(url_for([action.to_sym, current_user, cloud_file.cloud_account, params_for(cloud_file)])) do %>
							<span class="glyphicon glyphicon-<%= icon %>"></span>
							<span class="button-label"><%= action %></span>
						  <% end %>
						</li>
					  <% end %>
					</ul>
					<%= link_to(delete_item_path(current_user, cloud_file.cloud_account, params_for(cloud_file)),
                      class: "btn btn-danger") do %>
					  <span class="glyphicon glyphicon-remove"></span>
					  Delete
					<% end %>
				</div>
			</div>
		</div>
    </li>
  </ul>
</div>
