<footer class="footer">
	<small>
		The <%= link_to "Cloudy Project", root_path %>
		by <%= link_to "Yem Ahiatsi", '#' %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "News", '#' %></li>
		</ul>
	</nav>
</footer>
